extends layout

block content
  h1= title
  
  form(method='POST' action='')
    div.form-group
      label(for='team_number') Team Number:
      input.team_number.form-control(type='text', placeholder='Enter Team Number' name='team_number' required='true')
    div.form-group
      label(for='match_number') Match Number:
      input.team_number.form-control(type='text', placeholder='Enter Match Number' name='match_number' required='true')
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg
